*{
    
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
     border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;

}
.nav-part2{
    display: flex;
     align-items: center;
    gap: 4vw;
}

.nav h2{
    font-size: 1.5vw;
    font-weight: 700;
}

.nav h3{
    font-size: 1.1vw;
}

.nav button{
    font-size: 1vw;
    padding: 0.7vw  1.4vw ;
    background-color: #455A64;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}

/* content  */
.content{
      height: calc(100% - 100px);
      width: 100%;
      display: flex;
      position: relative;
}

.left{
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;

}

.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}
.left h1 span{
     color:#AF62BC;
}
.left p{
    font-size:1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}

.content button{
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw ;
    background-color: #455A64;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}




.right{
    height: 100%;
    width: 45%;
}
.right img{
    width: 100%;
    height: 100%;
}






@media (max-width:600px) {
    .nav{
         
         padding: 0 6vw;
         height: 60px;

    }

   .nav h2{
      font-size: 5.1vw;
   }
   .nav h3{
     font-size: 3vw;
     display: none;
   }

  .nav button{
    display: none;
  }
   .nav i{
       display: block;
       font-size: 4.5vw ;
   }

   .content{
    height: calc(100% - 60px);
    flex-direction: column;
   }
   .left{
    width: 100%;
    height: 45%;
    padding: 4vw 6vw;
   }
   .right{
    width: 100%;
    height: 50%;
   }
   .left h1{
    font-size: 10vw;
    line-height: 11vw;
   }
   .left p{
    font-size: 3vw;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 6vw;
}
.content button{
    padding: 3vw 6vw;
    border-radius: 3px;
    font-weight: 600;
    font-size: 3.5vw;
}    
}